<h2>gmap</h2>

<% @museums.each do |museum| %>
  <%= museum.name %>
  <%= museum.prefecture %>
  <%= museum.address %>
<% end %>

<div id='map'></div>

<style>
#map {
  height: 500px ;
  width: 1000px ;
}
</style>

<script>
  let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.68123620000001, lng:139.7671248},
          zoom: 5,
      });


      <% @museums.each do |m| %>
          (function(){
          var contentString = "<%= m.name %>";

          var marker = new google.maps.Marker({
              position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
              map: map,
              title: contentString
          });

          // 情報ウィンドウ(吹き出し)の定義
          // 投稿の詳細ページへのリンクも
          var infowindow = new google.maps.InfoWindow({
          position: {lat: <%= m.latitude %>, lng: <%= m.longitude %>},
          content: contentString
          });

          // クリックしたときに情報ウィンドウを表示
          marker.addListener('click', function() {
          infowindow.open(map, marker);
          });

          })();
      <% end %>

      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX9tQSlt8dBSvieknk5UUh-ggWi38JhTU&callback=initMap" async defer></script>