<!DOCTYPE html>
<html>
  <head>
    <title>StrangeMuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>ロゴ</p>
      <ul>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '会員登録', new_user_registration_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'マイページ', user_path(current_user) %></li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
